@font-face {
  font-family: "Tajawal";
  src: url("../fonts/Tajawal-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal";
  font-size: 17px;
}

/* start navbar */
.collapse .form-inline input {
  width: 500px;
  border-radius: 20px;
}
nav .collapse .form-inline i {
  position: relative;
  left: 30px;
  color: gray;
}
nav .navbar-brand .whight {
  display: none;
}

@media (max-width: 922px) {
  .collapse .form-inline input {
    width: auto;
  }
  nav .collapse .form-inline i {
    position: relative;
    left: 30px;
    color: gray;
  }
}
@media (max-width: 500px) {
  nav .navbar-brand img {
    width: 80px !important;
  }
}

/* dark mode */

body {
  background-color: #777a81;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: #1f1f1f;
  color: white;
}
.dark-mode .section .nav-item .nav-link {
  color: #fff;
}
.dark-mode .card,
.dark-mode .wi,
.dark-mode .collapse .form-inline input,
.dark-mode .ruls .text {
  background-color: #3a3a3a;
  color: white;
}
.dark-mode .section .card .card-body hr {
  background-color: white;
}
.dark-mode nav .navbar-brand .black {
  display: none;
}
.dark-mode nav .navbar-brand .whight {
  display: inline;
}
.dark-mode .navbar-toggler {
  background-color: white;
}
.dark-mode .modal-body,
.dark-mode .modal-footer {
  background-color: #1f1f1f;
}

/* switch button */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fff;
  border: 2px solid #000;
  margin: -1px;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.social i {
  position: relative;
  top: 10px;
}
/* end navbar */

/* start header */
.header {
  padding: 150px;
  font-size: 44px;
}
.header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../img/asset-13.png);
  background-repeat: no-repeat;
  position: relative;
  height: 650px;
  transition: all 0.7s ease-in-out, width 0.5s ease-in-out,
    height 0.5s ease-in-out;

  /* background-size: 100%  */
}

/* content in header */
.meta {
  color: white;
}
.meta:after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  right: 177px;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
}
.header .text-content {
  color: #fff;
  font-size: 50px;
}
.header .btn-ligh {
  border-radius: 30px;
  border: 2px solid #ccc;
  color: white;
  font-size: 30px;
}
.header .btn-ligh:hover {
  background-color: white;
}

/* buttons in header */
#buton {
  float: left;
}
#buton button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #5855bc;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 100%;
  padding: 0;
  margin: 30px 0;
  cursor: pointer;
  position: relative;
  opacity: 100;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}
#buton button:hover {
  opacity: 0.5;
}
#buton button.active {
  opacity: 1;
}
#buton button.active:before {
  width: 300%;
  height: 300%;
  opacity: 1;
}
#buton button:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #e65986;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out,
    height 0.4s ease-in-out;
}
/* #buton button.active{
    background: #E65986;
  } */

/* button in header */
/* Magic mouse */
.header .mouse {
  position: absolute;
  width: 26px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 13px;
  background: transparent;
  bottom: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header .mouse a {
  display: block;
  width: 26px;
  height: 40px;
}

.header .mouse .wheel {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 6px;
  left: 0;
  right: 0;
  -webkit-animation: magic-mouse 1.7s infinite ease;
  -moz-animation: magic-mouse 1.7s infinite ease;
  animation: magic-mouse 1.7s infinite ease;
}

@keyframes magic-mouse {
  0% {
    top: 6px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    top: 18px;
    opacity: 0;
  }
}
/* scroll up */
.to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 20px;
  background: #5855bc;
  color: #fff;
  padding: 5px 8px;
  border-radius: 50%;
  z-index: 1;
}
.to-top:hover {
  background: #e65986;
  color: #fff;
}

@media (max-width: 992px) {
  .header {
    padding: 150px 0;
    font-size: 44px;
  }
  .meta {
    color: white;
  }

  .header .text-content {
    font-size: 40px;
  }

  #buton button {
    /* margin-top: 40px; */
    display: inline;
    margin: 61px 0px 0px 40px;
  }
}

/* end header */

/* start section */
.section {
  padding: 20px;
}
.menu-text {
  color: #e65986;
  font-weight: bolder;
}
.section .nav-item .nav-link {
  font: normal 600 20px/2px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
}
.section ul li.active a {
  background: #5855bc;
  border-radius: 20px;
  padding-right: 10px;
}
.section .nav-item.active .nav-link {
  color: #fff;
}

.section .card {
  border-radius: 10px;
  border: none;
}
.section .but1 {
  margin-left: 20px;
}
.section .but2 {
  margin-left: 18px;
}
.section .but3 {
  margin-left: 10px;
}
.section .but4 i {
  cursor: pointer;
  color: #e65986;
  background: white;
  border-radius: 50%;
}
.section .but4 {
  cursor: pointer;
}

.section .but1 .btn-primar {
  background-color: #e65986;
  border-radius: 0 20px 0 20px;
  color: white;
}
.section .but2 .btn-primar {
  background-color: #5855bc;
  border-radius: 15px;
  color: white;
}
.section .but3 .btn-primar {
  background-color: #5855bc;
  border-radius: 15px;
  color: white;
}
.section .card img {
  width: auto;
  height: 250px;
  margin-top: -382px;
  position: relative;
  left: 30px;
  border-radius: 10px;
}
.section .card .card-body {
  margin-top: -80px;
}

.section .header-content h3 {
  display: inline;
  font-weight: bolder;
}
.section .header-content .btn-inf {
  float: left;
  border: 2px solid #5855bc;
  border-radius: 15px;
  color: #e65986;
}
.section .header-content .btn-inf:hover {
  background-color: #5855bc;
  color: white;
}

.section .card {
  margin-bottom: 15px;
}

@media (max-width: 500px) {
  .section .header-content .btn-inf {
    font-size: 15px;
  }
  .section .header-content h3 {
    font-size: 19px;
  }
  .section .but2 .btn-primar,
  .section .but3 .btn-primar {
    font-size: 15px;
  }

  .section .but1,
  .section .but2 {
    margin-left: 10px;
  }
  .section .but3 {
    margin-left: 5px;
  }
}
/* end section */

/*start footer*/
.wi {
  background-color: white;
}
.footer {
  background-color: #e65986;
  color: white;
}
.footer .h1 {
  margin-bottom: 20px;
}
.footer .links-list a {
  color: #eee;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .footer {
    height: auto;
  }
  .footer .h1 {
    text-align: center;
  }
}
@media (max-width: 568px) {
  .footer .bgb {
    margin-right: 219px;
  }
}
@media (max-width: 500px) {
  .footer .bgb {
    margin-right: 150px;
  }
}
@media (max-width: 350px) {
  .footer .bgb {
    margin-right: 120px;
  }
}

/* catugury */
.section .butn .btn-inf {
  background-color: #5855bc;
  color: white;
  border-radius: 10px;
  /* margin-left: 200px; */
}

/* ruls */
.ruls {
  padding: 50px 0;
}
.ruls .h3 {
  background-color: #5855bc;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.ruls .text {
  background-color: #fff;
  padding: 15px;
  color: black;
  border-radius: 10px;
}

/* Page Loader */
.loading:before {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.loading:after {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../img/hi.png);
  background-repeat: no-repeat;
  content: "";
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 45%;
  width: 100px;
  height: 100px;

  pointer-events: none;

  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
